* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: rgb(60, 45, 115);
}
img {
    width: 280px;
    margin: 10px;
}
h1 {
    font-size: clamp(1.4rem, 2.5vw, 2.2rem);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15)
}
body {
    background-color: 242, 242, 242;
    text-align: center;
}
label {
    margin: 10px 25px 10px 25px;
    display: flex;
}
.itens {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.input-div {
    border-radius: 3px;
    border: 2px solid rgba(128, 128, 128, 0.671);
}
.itens label {
    width: 180px;
}
.botao {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(90, 90, 90);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(128, 128, 128, 0.971);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.divbotao {
    width: 160px;           /* MESMA coluna do input */
    display: flex;
    justify-content: center;
}
.botao:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.botao:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}